In [1]:
#First code using " " & '' for syntax print
print("This is my fisrt python program")

This is my fisrt python program

In [2]:
#Creating Error # giveing SyntaxError
print("This is my Fisrt python program)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_11068/3332176165.py, line 2)

In [3]:
 #print function can be print "Hello World" but it ok with python 2.X version not with Python 3.X
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (Temp/ipykernel_11068/2104545901.py, line 2)

In [4]:
 # single line comment

In [5]:
"""gdvv
fyh
bhgbnv

Multiline comment

cgdbvb vf
htdccdvvv
"""

'gdvv\nfyh\nbhgbnv\n\nMultiline comment\n\ncgdbvb vf\nhtdccdvvv\n'

In [6]:
a=10 #varibles  and varible namee is "a"

In [7]:
a # calling varible

10

In [8]:
type(a) # type() function use know datatype of the varible

int

In [9]:
b="Pooja"
c='Das'

In [10]:
b

'Pooja'

In [11]:
print(b)
print(c)

Pooja
Das

In [12]:
type(b) #string

str

In [13]:
print(a,b,c,"Hello")

10 Pooja Das Hello

In [14]:
a=15
b="Dodo"

In [15]:
a,b,c=41,"Das", 4.3  #single line varible

In [16]:
print(a,b,c)

41 Das 4.3

In [17]:
type(a)

int

In [18]:
type(b)

str

In [19]:


type(c)

float

In [20]:
a,b,c # print turples which start with () symbols

(41, 'Das', 4.3)

In [21]:
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

In [ ]:
print('"Hello World,i am testing world"') #printing " statement"

In [ ]:
#varible name can't be start with  numeric, symbol , keyword or ya space in between name we can use underscores_

2a=10 #2a=10 SyntaxError: invalid syntax

In [ ]:
#a=10 # took as comment
_b=153 #_undrscore vaid

In [ ]:
_b

In [ ]:
testing_varible=123

In [ ]:
testing_varible

In [ ]:
Name="Pooja"
User_ID= "N001"
Password="bjbghjj"
mail_Id="poojadas93@outlook.com"

<b>Class Task 1<b>

In [22]:
#Class Task yes sir  we all knw True=1 nad Flase=0 so it adding 1+1+1+0+1=4
a=True+ True+ True+False+True  #1+1+1+0+1=4
b=False-True+True # 0-1+1=0

In [23]:
a=True

In [24]:
type(a)

bool

In [25]:
print(a,b)

True 0

In [26]:
0-1

-1

In [27]:
0-1+1

0

In [28]:
print(True+True+False)

2

In [29]:
True*True #1*1

1

In [30]:
True/False #1/0 error coz ZeroDivisionError: division by zero we cant divde by 0

# if we used numpy package it not give error it give "inf"

ZeroDivisionError: division by zero

In [31]:
False/True #0/1

0.0

In [32]:
#complex number =real_number +imaginary_number
n=45+6j   # we cant used any aplha in imaginary  we only use "j"

In [33]:
type(n)

complex

In [34]:
print(n) # print complex no.

(45+6j)

In [35]:
print(n.real)
print(n.imag)

45.0
6.0

In [36]:
complex_no=56+74i #syntax error coz we only have to use "j" as it built or fun like that only

SyntaxError: invalid syntax (Temp/ipykernel_11068/1277063930.py, line 1)

In [37]:
n1=78+7j
n2=95+8j

In [38]:
print(n1*n2)
print(n1+n2)

(7354+1289j)
(173+15j)

In [39]:
#dynamic typing  where i should not tell my compiler what data type is this it autimatically understand
a="life"
type(a)

str

In [40]:
1+"pooja" #typeError we can't add int +str #hetrogenes datatype

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
str(1)+"Pooja" #typecaste where i convert mt integer into string by str()

'1Pooja'

In [42]:
"1"+ "Pooja" # this is all strong  typing

'1Pooja'

In [43]:
1+1.0 #upcasting  if it is inteeger no.s thn it perfrom Upcasting as float take more space our result will be float

2.0

In [44]:
"pooja"+"pooja"+"pooja" #concatenate

'poojapoojapooja'

In [45]:
"pooja"*3 #concatenate

'poojapoojapooja'

In [46]:




'pooja'

'pooja'

In [47]:
int("123")

123

In [48]:
int("pooja")

ValueError: invalid literal for int() with base 10: 'pooja'

In [49]:
a=10
a

10

In [50]:
a=input("Enter a interger=") # input() inbuilt fun used to tak0e input frm user
print("Answer is =",a)

Enter a interger=
Answer is =

In [51]:
type(a)

str

<b>class Task 2</b>
 <h3> Q1. Take 3 Interger input from user  using input() only 
     a,b,c than we have to do 3 step  <br>
    <b>o=(a+b)/c</b><br>
    <b>o1=o+ complex  varible by our choice</b> <br>
    <b> o2=o1+"with ur name" </b></h3>

In [52]:
a=int(input("Enter first interger a="))
b=int(input("Enter first interger b="))
c=int(input("Enter first interger c="))

Enter first interger a=

ValueError: invalid literal for int() with base 10: ''

In [ ]:
O=(a+b)/c
print(O)

In [ ]:
complex_no=10+5j
O1=O+complex_no # add 4.0+10+5j =14+5j
print(O1)
type(O1)

In [ ]:
O2=str(O1)+"Pooja Das"
print(O2)
type(O2)

In [53]:
a=int(input("Input a number lesser  then 34 ="))

Input a number lesser  then 34 =

ValueError: invalid literal for int() with base 10: ''

In [ ]:
if a<34:
    pass

In [54]:
a=int(input("Input a number="))
if a<34:
    print("data input is lesser than 34 and it is fine")

Input a number=

ValueError: invalid literal for int() with base 10: ''

In [ ]:
b=int(input("Input a number="))
if b<34:
    print("data input is lesser than 34 and it is fine")
else:
    print("data input is not lesser than 34")

In [ ]:
b=int(input("Input a number="))
if b<34:
print("data input is lesser than 34 and it is fine")  #indentation error to give indentation we use tab

In [55]:
b=int(input("Input a number="))
if b<34:
    print("data input is lesser than 34 and it is fine")
elif a<100:
    print("data is lesser than 100")
else:
    print("data input is not lesser than 34")

Input a number=

ValueError: invalid literal for int() with base 10: ''

In [ ]:
salary =int(input("Enter Your salary -"))
if salary <1000:
    print("I will buy a car")
elif salary <500:
    print("I will buy a bike")
elif salary<100:
    print("I will  not buy anything")
else:
    print("I will go for saving")
    
    #put any no. less than 1000 it only check nd excute first line satisfy print and exit simple

In [56]:
salary =int(input("Enter Your salary -"))
if (salary >=1000):
    print("I will buy a car")
elif salary >=500:
    print("I will buy a bike")
elif salary>=100:
    print("I will  not buy anything")
else:
    print("I will go for saving")

Enter Your salary -

ValueError: invalid literal for int() with base 10: ''

In [57]:
salary =int(input("Enter Your salary -"))
if (salary >=1000):
    print("I will  good salary")
    if salary <=5000:
        print("i will buy Tata Nano")
        if True:
            print("party")
    elif salary <=10000:
        print("i will buy maruti")
    elif salary <=50000:
        print("I will buy toyota")
    else :
        print(" I will buy audi")
elif salary >=500:
    print("I will buy a bike")
elif salary>=100:
    print("I will  not buy anything")
else:
    print("I will go for saving")

Enter Your salary -

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=10
b=20

if a==10 and b==20:
    print("this valid statement")

In [ ]:
 a==10 and b==20

In [58]:
a==10

False

In [59]:
b==20

False

In [60]:
if a==30 and b==20:
    print("this valid statement")
else :
    print("not valid")

not valid

In [61]:
if a<30 and b<50:
    print("this valid statement")
else :
    print("not valid")

TypeError: '<' not supported between instances of 'str' and 'int'

In [62]:
if a==10 and b>20:
    print("this valid statement")
elif a==10 and b>=20:
    print("valid in elif")
else :
    print("not valid")

not valid

In [63]:
if a==30 or b==20:
    print("this valid statement")
else :
    print("not valid")

not valid

In [64]:
if a==10 or b>20:
    print("this valid statement")
elif a==10 and b>=20:
    print("valid in elif")
else :
    print("not valid")

not valid

Task :
     take a input from your keyboard as first name and last name and than try to validate of write multiple condition by yourself

In [65]:
a=input("Enter your firstname  :")
b=input("Enter yourlastname  :")
if a=="Pooja" and b=="Das":
    print("Valide  name")
else:
    print ("Not Valid")

Enter your firstname  :
Enter yourlastname  :
Not Valid

In [66]:
a=input("Enter your Firstname  :")
b=input("Enter your Lastname  :")
if a=="Pooja" and b=="Das":
    print("Valide  name")
elif a=="pooja" and b=="das":
    print("Valide  name")
elif a=="POOJA" and b=="DAS":
    print("Valide  name")    
else:
    print ("Not Valid")

Enter your Firstname  :
Enter your Lastname  :
Not Valid

In [67]:
#while loop
initial_speed=0
final_speed=100
count=0
while initial_speed < final_speed:
    print(count,"this is speed")
    count=count+1
    if (count==10):
        break

0 this is speed
1 this is speed
2 this is speed
3 this is speed
4 this is speed
5 this is speed
6 this is speed
7 this is speed
8 this is speed
9 this is speed

In [68]:
initial_speed < final_speed

True

In [69]:
initial_speed=0
final_speed=5

while final_speed>=initial_speed: # if true than only excute
    print(initial_speed,"this is speed")
    initial_speed=initial_speed+1

0 this is speed
1 this is speed
2 this is speed
3 this is speed
4 this is speed
5 this is speed

In [70]:
bacon = 22
bacon + 1

23

In [71]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

In [72]:
# while-else only exit in python
notes= 5
i=1
while i<=notes: # when it become false thn only else  excute
    print(i)
    i+=1
else:
    print(" no notes are availble")

1
2
3
4
5
 no notes are availble

In [73]:
notes= 5
i=1
j=1
while i<=notes: # when it become false thn only else  excute
    print(i)
    i+=1
else:
    while j<=2:
        print(j)
        
        j+=1
    print(" no notes are availble")

1
2
3
4
5
1
2
 no notes are availble

In [74]:
s="pooja"

In [75]:
s

'pooja'

In [76]:
s[0]

'p'

In [77]:
s[5] # as index doesnot exit

IndexError: string index out of range

In [78]:
s="My name is Pooja Das"

In [79]:
s

'My name is Pooja Das'

In [80]:
s[3:10] # start : end but exclude end position

'name is'

In [81]:
s[4:]

'ame is Pooja Das'

In [82]:
s[:4]

'My n'

In [83]:
s[0:2]

'My'

In [84]:
s[3:10:2]# start : end but exclude end position: jump step

'nm s'

In [85]:
s[4::3]

'a  o s'

In [86]:
s[10:3:-2]

' iea'

In [87]:
s[10:3:-2]

' iea'

In [88]:
s[2:6]

' nam'

In [89]:
s[:0:-1]

'saD ajooP si eman y'

In [90]:
s

'My name is Pooja Das'

In [91]:
for i in s:# i =0 ,i<=s than i++
    if i=="a":
        print("i got a as string")
    print (i)
else :
    print("Else execute")

M
y

n
i got a as string
a
m
e

i
s

P
o
o
j
i got a as string
a

D
i got a as string
a
s
Else execute

In [92]:
for i in s:# i =0 ,i<=s than i++
    if i=="a":
        break
        print("i got a as string")
    print (i)
else :  # for else execute only when for complete  not by break
    print("Else execute")

M
y

n

In [93]:
for i in s:# i ="M" 
    if i=="a":
        continue # print a coz it go back to for loop not evern execute other
        print("i got a as string")
    print (i)
else :  # for else execute only when for complete  not by break
    print("Else execute")

M
y

n
m
e

i
s

P
o
o
j

D
s
Else execute

In [94]:
s="ineuron"
ss=""
for i in range(len(s)): # i=0 in this case
   # print(i)
    if s[i]=="n":
        continue
    print(s[i])

i
e
u
r
o

In [95]:
len(s) # used to find length of a string

7

In [96]:
ss

''

In [97]:
range(8) # used to find  range 0 to n

range(0, 8)

In [98]:
range(len(s))

range(0, 7)

In [99]:
s[i]

'n'

In [100]:
s="in euron"
ss=""
print(ss)
for i in range(len(s)): # i=0 in this case
    print(s[i])
    if s[i]=="n":
        print(s[i])
        continue
    else:
        ss=ss+s[i]

i
n
n

e
u
r
o
n
n

In [101]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end =" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [102]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end =" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [103]:
a="a"
len(a)

1

In [104]:
range(0,len(a))

range(0, 1)

In [105]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print(j, end =" ")
    print("\r")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [106]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(i, end =" ")         
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [107]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end =" ") 
    
    print("\r")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [108]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end =" ") 
    
    print("\r")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [109]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
            print(end =" ")
    for j in range(0,i+1):
        print(j, end =" ")         
    print("\r")

    0
   0 1
  0 1 2
 0 1 2 3
0 1 2 3 4

In [110]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
            print(end =" ")
    for j in range(0,i+1):
        print(i, end =" ")         
    print("\r")

    0
   1 1
  2 2 2
 3 3 3 3
4 4 4 4 4

In [111]:
n=5
print(" * "*5)

 *  *  *  *  *

In [112]:
n=5
for i in range(0,n):
    print("*", end=" ")

* * * * *

In [113]:
n=5
for j in range(0,n):
    print("*") #  as all print in next line for this we use end use for one linr

*
*
*
*
*

In [114]:
n=5
for i in range(0,n):
    for i in range(0,n):
        print("*", end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * *

In [115]:
n=5
for i in range(0,n):
    for j in range(0,n):
        print(i, end=" ")
    print()  

for i in range(0,n):
    for j in range(0,n):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,n):
        print(j, end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [116]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end=" ")
    print() 
for i in range(0,n):
    for j in range(0,i+1):
        print(j, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4
*
* *
* * *
* * * *
* * * * *
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [117]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print(i, end=" ")
    print()  

for i in range(0,n):
    for j in range(i,n):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(i,n):
        print(j, end=" ")
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4
* * * * *
* * * *
* * *
* *
*
0 1 2 3 4
1 2 3 4
2 3 4
3 4
4

In [118]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [119]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

$ $ $ $ $ *
$ $ $ $ * *
$ $ $ * * *
$ $ * * * *
$ * * * * *

In [120]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

$ $ $ $ *
$ $ $ * *
$ $ * * *
$ * * * *
* * * * *

In [121]:
n=5
for i in range(0,n):
    
    for j in range(0,i):
        print("$", end=" ")
    for j in range(i,n):
        print("*",end=" ")    
    print()

* * * * *
$ * * * *
$ $ * * *
$ $ $ * *
$ $ $ $ *

# Right side Trinangle

In [122]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

$ $ $ $ $ *
$ $ $ $ * *
$ $ $ * * *
$ $ * * * *
$ * * * * *

In [123]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

# Hill Pattern

In [124]:
 
n=5
for i in range(0,n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

# Reversed Hill

In [125]:
n=5
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()

* * * * * * * * * *
  * * * * * * * *
    * * * * * *
      * * * *
        * *

In [126]:
n=5
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

# Diamond Pattern

In [127]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
#for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

        *
* * * * * * * * *
      * * *
  * * * * * * *
    * * * * *
    * * * * *
  * * * * * * *
      * * *
* * * * * * * * *
        *

In [128]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [129]:
n=5
for i in range(0,n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i+1):# by add space here in down
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [130]:
n=5
for i in range(0,n-1):
    for j in range(i,n-1):# or by descrease n frm here
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [131]:
n=5 
for i in range (0,n):
    for j in range (i,n-1):
        print(" ", end=" ")
    for j in range ( i+1):
        print("*",end=" ")
    for j in range (0,i):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [132]:
n=5
i=0
while (i<n):
    j=0
    while(j<=i):
        print("*", end=" ")
        j+=1
        
    print() 
    i+=1

*
* *
* * *
* * * *
* * * * *

In [133]:
n=5
i=0
while (i<n):
    j=i
    while(j<n):
        print("*", end=" ")
        j+=1
    j=i
    while(j<n):
        print(" ", end=" ")
        j+=1 
    j=i
    while(j<n-1):
        print(" ", end=" ")
        j+=1    
        
    print() 
    i+=1 
i=0
while (i<n):
    j=i
    while(j<n-1):
        print("*", end=" ")
        j+=1
    j=0
    while(j<i+1):
        print(" ", end=" ")
        j+=1 
    j=0
    while(j<i):
        print(" ", end=" ")
        j+=1    
        
    print() 
    i+=1

* * * * *
* * * *
* * *
* *
*
* * * *
* * *
* *
*

In [134]:
n=5
for i in range(0,n):
    for j in range (i,n-1):
        print("b", end=" ")
    for j in range (0,i+1):
        print("*", end=" ")    
    print()

b b b b *
b b b * *
b b * * *
b * * * *
* * * * *

In [135]:
n=5
i=0
while (i<n):
    j=i
    while(j<n-1):
        print("b", end=" ")
        j+=1
    j=0
    while(j<i+1):
        print("*", end=" ")
        j+=1 
    j=0
    while(j<i):
        print("*", end=" ")
        j+=1    
        
    print() 
    i+=1

b b b b *
b b b * * *
b b * * * * *
b * * * * * * *
* * * * * * * * *

In [136]:
n=5
i=0
while (i<n):
    j=0
    while(j<i):
        print("b", end=" ")
        j+=1
    j=i
    while(j<n):
        print("*", end=" ")
        j+=1 
    j=i
    while(j<n-1):
        print("*", end=" ")
        j+=1    
        
    print() 
    i+=1

* * * * * * * * *
b * * * * * * *
b b * * * * *
b b b * * *
b b b b *

In [137]:
n=5
i=0
while (i<n):
    print (" " *(n-i-1)+ "* "*(i+1))
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [138]:
name="pooja"
phone=4535552
address="dguu"

name,phone,address="pooja",452255,"cfdghfhh"

In [139]:
l=["pooja",452255,"cfdghfhh",45+4j,4.5,96,"list",True,[3,5,10+5j,"hi",4.5,50]] # list like arry it hold multi value in single varible

In [140]:
l

['pooja',
 452255,
 'cfdghfhh',
 (45+4j),
 4.5,
 96,
 'list',
 True,
 [3, 5, (10+5j), 'hi', 4.5, 50]]

In [141]:
type(l)

list

In [142]:
l[0]

'pooja'

In [143]:
l[1]

452255

In [144]:
l[1:5]

[452255, 'cfdghfhh', (45+4j), 4.5]

In [145]:
l[6:2:-1]

['list', 96, 4.5, (45+4j)]

In [146]:
l1=[]

In [147]:
type(l1)

list

In [148]:
l2=list()

In [149]:
type(l2)

list

In [150]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>

In [151]:
for i in l:
    if type(i)== str:
        print(i)

pooja
cfdghfhh
list

In [152]:
for i in l:
    if type(i)==list:
        for j in i:
            print(type(j))
        print(i)

<class 'int'>
<class 'int'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'int'>
[3, 5, (10+5j), 'hi', 4.5, 50]

In [153]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
                
        print(n)
        print(i)
        print(type(n))
        print(type(j))

58
[3, 5, (10+5j), 'hi', 4.5, 50]
<class 'int'>
<class 'int'>

In [154]:
len(l)

9

In [155]:
range(len(l))

range(0, 9)

In [156]:
list(range(2,22,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [157]:
list(range(25,0,-2))

[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [158]:
len(l)

9

In [159]:
for i in l:
    if type(i)== list:
        print(len(i))
        print(i)

6
[3, 5, (10+5j), 'hi', 4.5, 50]

In [160]:
name="Pooja"
for i in name:
    print(i)

P
o
o
j
a

In [161]:
name="Pooja"
for i in name:
    print(i,end="")

Pooja

In [162]:
n=int(input("Enter the no. of the parimid-- "))

for i in range(0,n):
    for j in range( 0,i):
        print (" ", end=" ")
    for j in range(i,n):
        print ("*", end=" ") 
    for j in range(i,n-1):
        print ("*", end=" ")
    print()

Enter the no. of the parimid-- 5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [163]:
lst=[1,2,3,4]
lst[2:50]

[3, 4]

In [164]:
lst[50:2:1]

[]

In [165]:
lst[50:2:-1]

[4]

In [166]:
s="Master*Python"

In [167]:
s[-1:5:-1]

'nohtyP*'

In [168]:
s[12:5:-1]

'nohtyP*'

In [169]:
s[-1:-5:-1]

'noht'

In [170]:
c="This is my first's full stack class"

In [171]:
c

"This is my first's full stack class"

In [172]:
c='This is my first's full stack class'

SyntaxError: invalid syntax (Temp/ipykernel_11068/1202703072.py, line 1)

In [ ]:
c='This is my first"s full stack class'

In [ ]:
c

In [ ]:
c[0]

In [ ]:
c[-1]

In [ ]:
c[-1::-1]

In [ ]:
len(c)

In [ ]:
len(s)

In [ ]:
l=["pooja",4.5,"ggu"]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0]=78

In [ ]:
l

In [ ]:
s="I am Pooja"

In [ ]:
s[0]

In [ ]:
s[0]="s"

In [ ]:
s.find("o")

In [ ]:
s.find("oi")

In [ ]:
s.find("am")

In [ ]:
s="my name is pooja, my Name ok"

In [ ]:
s.find("name")

In [ ]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

In [ ]:
len("name")

In [ ]:
s.count("m")

In [ ]:
s.count("name")

In [ ]:
s.capitalize()

In [ ]:
s.split()

In [ ]:
type(s.split())

In [ ]:
s.split(",")

In [ ]:
s.split("n")

In [ ]:
s.split("na")

In [ ]:
s.split(sep= "(None)", maxsplit=0)

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.swapcase()

In [ ]:
" ".join(s)

In [ ]:
" * ".join(s)

In [ ]:
reversed(s)

In [ ]:
list(reversed(s))

In [ ]:
s[::-1]

In [ ]:
for i in reversed(s):
    print(i,end=" ")

In [ ]:
s="         poo   ja"

In [ ]:
s

In [ ]:
s=" Greeting from Ineuron "

In [ ]:
s.removeprefix(" ")

In [ ]:
s.removesuffix(" ")

In [ ]:
s.rindex("G")

In [ ]:
s.rfind("G")

In [ ]:
s1=s.replace("Gre","xxx")

In [ ]:
s1

In [ ]:
s

In [ ]:
c="pooja"

In [ ]:
c.center(20," ")

In [ ]:
c.center(20,"@")

In [173]:
c="pooja\tkumar"

In [174]:
c

'pooja\tkumar'

In [175]:
c.expandtabs()

'pooja   kumar'

### class task
         
         a="we all are apart of Full Stack"
         
         1.Normallize all the string in lower?
         2.Find no. of occurences of "a" in entire data
         3.Find all the location/index of "a" in string
         4.Replace all the "a" with "iNeuron"
         5.Print all the word  as a list

In [176]:
a="we all are apart of Full Stack"
print("1.Normallize all the string in lower?")
print(a.lower())
print("-------------------------------------------------")
print("2.Find no. of occurences of 'a' in entire data")
print(a.count("a"))
print("-------------------------------------------------""-------------------------------------------------")
print("3.Find all the location/index of 'a' in string")
b=a.index("a")
for i in  range(b,len(a)):
    if a[i]=="a":
        print(i,end=" ")
    
print()
print("-------------------------------------------------") 
print('4.Replace all the "a" with "iNeuron"')
print(a.replace("a","iNeuron"))
print("-------------------------------------------------")
print('5.Print all the word  as a list')
print(a.split(sep= "  "))

1.Normallize all the string in lower?
we all are apart of full stack
-------------------------------------------------
2.Find no. of occurences of 'a' in entire data
5
--------------------------------------------------------------------------------------------------
3.Find all the location/index of 'a' in string
3 7 11 13 27
-------------------------------------------------
4.Replace all the "a" with "iNeuron"
we iNeuronll iNeuronre iNeuronpiNeuronrt of Full StiNeuronck
-------------------------------------------------
5.Print all the word  as a list
['we all are apart of Full Stack']

In [177]:
l=[]
for i in range(len(a)):
    if a[i]=="a":
        l.append(i)
l

[3, 7, 11, 13, 27]

In [178]:
lst=[1,2,3]
print(lst)
lst.append(4)
print(lst)
a=[4,5,"ooo"]
lst.append(a)
lst

[1, 2, 3]
[1, 2, 3, 4]

[1, 2, 3, 4, [4, 5, 'ooo']]

In [179]:
lst=[1,5,"pooja"]
a=[4,8]

lst.append(a)
print(lst)
lst.extend(a)
lst

[1, 5, 'pooja', [4, 8]]

[1, 5, 'pooja', [4, 8], 4, 8]

In [180]:
s="pooja"

In [181]:
s.isupper()

False

In [182]:
s.isnumeric()

False

In [183]:
s.islower()

True

In [184]:
s="pooja123"

In [185]:
s.isalnum()

True

In [186]:
b="pooja das"
print(b.isspace())
c=" "
print(c.isspace())

False
True

In [187]:
s.endswith("p")

False

In [188]:
s.isnumeric()

False

In [189]:
s.isdigit()

False

In [190]:
s.startswith("p")

True

In [191]:
b.isalpha()

False

In [192]:
b="Pooja"
print(b.istitle())
c="pooja"

print(c.istitle())

True
False

In [193]:
s="this is a full strack batch"
for i in s:
    
    print(i,end="")

this is a full strack batch

In [194]:
count= 0
for i in s:
    count = count +1
print(count)

27

In [195]:
s="this is a full strack batch"
for i in range(1,len(s)):
    print(s[-i],end="")

hctab kcarts lluf a si sih

In [196]:
s="Pooja"
i=1
while i<=len(s):
    print(s[-i],end="")
    i+=1

ajooP

In [197]:
s="this is a full strack batch"
i=1
while i<=len(s):
    print(s[-i],end="")
    i+=1

hctab kcarts lluf a si siht

In [198]:
s="iNeuRon"
vowels="AaEeIiOoUu"
for i in s:
    if i in vowels:
        print(f"{i} is vowels")
    else:
        print("{} is not vowel".format(i))

i is vowels
N is not vowel
e is vowels
u is vowels
R is not vowel
o is vowels
n is not vowel

In [199]:
"{} is A bat".format("this")

'this is A bat'

In [200]:
"{} is {} bat".format("this","a")

'this is a bat'

In [201]:
a=4
b=5
"{} is {} bat {}".format(a,b,"text")

'4 is 5 bat text'

In [202]:
a="xyx"
b=2002
c="nitin"

In [203]:
s=input("Enter any data to check its palindrom  ")
c=s[len(s)::-1]
print()
if s==c:
    print("{} is palindrom".format(s))
else:
    print("{} is not palindrom".format(s))

Enter any data to check its palindrom  2002

2002 is palindrom

In [204]:
c

'2002'

In [205]:
s[len(s)::-1]

'2002'

In [209]:
s1=list(reversed(s))

In [214]:
print(s1)

['2', '0', '0', '2']

In [215]:
l=["pooja",4,4.65,["abc",7,3.5],"list"]

In [216]:
l

['pooja', 4, 4.65, ['abc', 7, 3.5], 'list']

In [217]:
l[3]

['abc', 7, 3.5]

In [218]:
l[0:4]

['pooja', 4, 4.65, ['abc', 7, 3.5]]

In [225]:
l[len(l)::-1]

['list', ['abc', 7, 3.5], 4.65, 4, 'pooja']

In [226]:
l[::-1]

['list', ['abc', 7, 3.5], 4.65, 4, 'pooja']

In [227]:
l[len(l)-1::-1]

['list', ['abc', 7, 3.5], 4.65, 4, 'pooja']

In [230]:
a=range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [235]:
list(a[10::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [236]:
list(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [237]:
list(a[-1::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [245]:
s="pooja"
s1=list(s)
s1

['p', 'o', 'o', 'j', 'a']

In [246]:
l+s1

['pooja', 4, 4.65, ['abc', 7, 3.5], 'list', 'p', 'o', 'o', 'j', 'a']

In [247]:
l+s

TypeError: can only concatenate list (not "str") to list

In [248]:
s=["pooja"]
l+s

['pooja', 4, 4.65, ['abc', 7, 3.5], 'list', 'pooja']

In [249]:
l.append("xyx")

In [250]:
l

['pooja', 4, 4.65, ['abc', 7, 3.5], 'list', 'xyx']

In [251]:
l*2

['pooja',
 4,
 4.65,
 ['abc', 7, 3.5],
 'list',
 'xyx',
 'pooja',
 4,
 4.65,
 ['abc', 7, 3.5],
 'list',
 'xyx']

In [252]:
len(l)

6

In [253]:
"pooja"in l

True

In [254]:
4 in l

True

In [256]:
"xyzx" in l

False

In [23]:
s="This is cat"
for i in range(1,len(s)+1):
    print(-i ,s[-i])
    #print(s[-i])

-1 t
-2 a
-3 c
-4
-5 s
-6 i
-7
-8 s
-9 i
-10 h
-11 T

In [14]:
list(range(-1,len(s)))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
s="my name is shared ,and name of the org is name  ineuron"


c1=s.index("name")
for i in range(len("name")):
    print(c1+i)
c2=s[c1+i:len(s)].find("name")
for i in range(len("name")):
    print(c2+i)

3
4
5
6
17
18
19
20

In [39]:
s="pooja das"
s.split("a")

['pooj', ' d', 's']

In [48]:
for i in range(len(s)):
    if s[i]=="a":
         print(s.split("a"))

['pooj', ' d', 's']
['pooj', ' d', 's']