In [2]:
l=[[10,20,5],[5,3],(5,6)]
for i in l:
    print(i)

[10, 20, 5]
[5, 3]
(5, 6)

In [7]:
for i in l:
    for j in i:
        print(j,end=" ")
    print()

10 20 5
5 3
5 6

In [14]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [50]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [51]:
list(range(n))

[0, 1, 2, 3, 4]

In [52]:
for j in range(1):
        print("*",end=" ")

*

In [53]:
list(range(1))

[0]

In [54]:
n=5
for i in range (n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [55]:
n=5
for i in range (n):
    for j in range (i,n-1):
        print(" ",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    for j in range(i):
        print("*",end=" ")  
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [56]:
range(3*0)

range(0, 0)

In [57]:
n=5
for i in range (n):
    for j in range (i,n-1):
        print(" ",end=" ")
    for j in range (2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [65]:
#count of no. like 4567=4. 7=1,78=2
n=int(input())
m=n
count=0
while n>0:
    n=n//10
    count=count+1
print(f"count of {m} is {count}")  
    
#print("count of is "+str(count))

478536
count of 478536is 6

In [66]:
#euclidean algoritn for gcd
def fc(x,y):
    while(y):
        x,y=y,x%y
    return x
fc(10,15)

5

In [69]:
x=15
y=10
x%y

5

In [70]:
5%10

5

In [71]:
10%15

10

In [76]:
import math
a=10
b=15
print(math.gcd(a,b))

5

In [79]:
#LCM
import math
a,b=6,9
gcd=math.gcd(a,b)
print (gcd)
lcm=(a*b)/gcd
print(lcm)

3
18.0

In [80]:
res=max(a,b)
while (res<=a*b):
    if(res%a==0 and res%b==0):
        break
    res+=1
print(res)

18

In [81]:
arr=[0,2,5]
arr[-1]

5

In [53]:
#Fibonacci
n=int(input("ENTER NO."))
if n==0:
    print(1)
elif n==1:
    print(1,1)
else:
    print (1,1,end=" ")
    a=1
    b=1
    for i in range (2,n+1):
        c=a+b
        print(c,end=" ")
        a=b
        b=c

ENTER NO.12
1 1 2 3 5 8 13 21 34 55 89 144 233

In [65]:
def fibonacci(n):
    if n==0:
        return 1
    elif n==1:
        return 1
    else:
       
        a,b=1,1
        for i in range(2,n+1):
            c=a+b
        #return c
            a=b
            b=c
            print(a,b,c)
        return a,c# return  before value
    
n=int(input())   
fibonacci(n)

1

1

In [48]:
#all the divisor
n=int(input("ENTER NO."))
if n==0:
    print(1)
else:
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")

ENTER NO.5
1 5

In [120]:
#optimized all divisor code
n=int(input("ENTER NO."))
x=1
while x*x<n:
    if n%x==0:
        print(x)
        print(n//x)
    x=x+1
    if x*x==n:
        print(x,end=" ")

ENTER NO.20
1
20
2
10
4
5

In [122]:
n = int(input("Enter n:\n"))

x = 1
while x*x<n:

    if n%x ==0:
        print(x)
        print(n//x)

    x=x+1

    if x*x == n:
        print(x)

Enter n:
20
1
2
4

In [127]:
n = int(input("Enter n:\n"))

if n <= 1:
    print("No")
else:
    x = 2
    while x * x <= n:

        if n % x == 0:
            print("No")
            break
        x = x + 1

    else:
        print("Yes")

Enter n:
7
Yes

In [138]:
n=5
for i in range(n,n*10+1,n): ## i in range(x,y,z) means i goes from x to y-1 and increments z steps in each iteration
    print(i, end=" ")

5 10 15 20 25 30 35 40 45 50

In [11]:
s=input().strip()
for i in range(len(s)):
    if i%2==0:## from 0 to length of str and skip 2
        print(s[i], end="")

pooja das
poads

In [4]:
list(range(1,5))

[1, 2, 3, 4]

In [8]:
#next prime no,
def nextprime(n):
    while True:
        n=n+1
        for i in range(2,n):
            if(n%i==0):
                break
        else:
            return n
            
            
n=int(input())
nextprime(n)

0

1

In [68]:
a=10
b=15
while b:
    print(a,b)
    a,b=b,a%b
    print(a,b)
    print("*****************")
    
print(a)

10 15
15 10
*****************
15 10
10 5
*****************
10 5
5 0
*****************
5

In [122]:
def capCount(s):
    
    # Code here to print after captilizing first letter of all string
    
    print(s.title())
    print(len(list(s.split())))
    print(len(s.split()))
    
    # and then print the count of number of words
    # Your code should provide a new line after printing
capCount("xvzwdiroslsygspmkjvz dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr rmbanz jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn rehkd  jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc")

Xvzwdiroslsygspmkjvz Dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr Rmbanz Jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn Rehkd  Jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz Cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc
7
7

xvzwdiroslsygspmkjvz dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr rmbanz jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn rehkd  jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc

In [130]:
s="xvzwdiroslsygspmkjvz dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr rmbanz jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn rehkd  jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc"
m="Xvzwdiroslsygspmkjvz Dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr Rmbanz Jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn Rehkd  Jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz Cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc"
o="Xvzwdiroslsygspmkjvz Dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr Rmbanz Jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn Rehkd  Jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz Cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc"

In [134]:
len(s)==len(o)

True

In [132]:
s==o

False

In [135]:
m==o

True

In [140]:
len(s.split())

7

In [141]:
len(o.split())

7

In [139]:
len(m.split())

7

In [145]:

def capCount(s):
    count=0
    # Code here to print after captilizing first letter of all string
    c=s.title()
    print(c)
    for i in c:
        if(i.isupper()):
            count=count+1
    print(count) 
s="xvzwdiroslsygspmkjvz dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr rmbanz jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn rehkd  jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc"
    
capCount(s)

Xvzwdiroslsygspmkjvz Dxzyvsrsuvyfimeohwxxoqoobrqyibhwxgjfsblmcnttvcjjlr Rmbanz Jkmgsmfkkxgcgmtyonvcqtycujmigzvyrwphpfprdvlopyhssgavugqn Rehkd  Jnmsdpmpyzepjyhihrqqdrliouzvwbsqqwzsfz Cxrvblsmgbhdhnzkxreoguxqopxihgkyryxytmveyxgtbcc
7

In [147]:
def capitalize_first_last_letters(str1):
    str1 = result = str1.title()
    result =  ""
    for word in str1.split():
        result += word[:-1] + word[-1].upper() + " "
    return len(result[:-1])  
     
print(capitalize_first_last_letters("python exercises practice solution"))
print(capitalize_first_last_letters("w3resource"))

34
10

In [148]:
3*1**3

3

In [149]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [164]:
def prime(n):
for num in range(1,n+1):
    if num>1:
        for i in range(2,num-1): 
            if num%i==0: 
                break
        else:   
            print(num,end=" , ")
n=int(input()
prime(n)

IndentationError: expected an indented block (Temp/ipykernel_2276/695041236.py, line 2)

In [213]:

# for num in range(1,10+1):
    
    #checking number is greater than 1 or not
#     if num>1:
l=[]
c=0
for i in range(1,10+1): 
    if num%i==0: 
        
        l.append(i)
# print(l)
for i in l:
   
    for j in range(1,i):
        if i%j==0:
            break
    else:
        c=c+1
        print(c)

1

In [211]:
l=[1, 2, 5, 10]
c=0
for i in l:
#     print(i)
    
    for j in range(1,i+):
        if i%j==0:
            break
    else:
        print(j)

1

In [204]:
list(range(1,2))

[1]

In [222]:
def count_Primes_nums(n):
    ctr = 0
    l=[]
    for i in range(1,n+1): 
        if n%i==0: 
            l.append(i)
    print(l)
    for num in l:
        
        if num <= 1:
            continue
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            ctr += 1

    return ctr

print(count_Primes_nums(10))

[1, 2, 5, 10]
2

In [227]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [228]:
10%2==0

True

In [229]:
10%3==0

False

In [264]:
def pa(n):
#     rev=0
    count=0
    l=[]
    for j in range(1,n+1):
        l.append(j)
    print(l)
    for i in l:             
  
        # Find reverse of current number 
        t = i 
        rev = 0
        while t > 0: 
            rev = rev * 10 + t % 10
            t = t // 10
  
        # compare rev with the current number 
        if rev != i: 
            #print (i) 
            count = count + 1
    print (count)
#             if i != rev:
#                 print(False)
            


pa(5)

[1, 2, 3, 4, 5]
0

In [256]:
12//10

1

In [265]:
print ()'0:-2%}'.format(1.0 / 3))

SyntaxError: invalid syntax (Temp/ipykernel_2276/2029582675.py, line 1)

In [1]:
s="pooja"
s[:-1:-1]

''

In [10]:
s[-1::-1]

'ajoop'

In [11]:
s[0::]

'pooja'

In [12]:
len(s)

5

In [13]:
s[0:3]

'poo'

In [17]:
s.count("o")

2

In [19]:
s[-2::-1]

'joop'

In [20]:
s.split("o")

['p', '', 'ja']

In [23]:
print(type(s.split()))

<class 'list'>

In [28]:
s="""... that The Archives of the Planet includes 72,000 color photographs (example pictured) of human cultures taken in 50 countries between 1908 and 1931?
... that Port Jefferson village officials opposed the expansion of the Caithness Long Island Energy Center because they feared it would lead to the decommissioning of the Port Jefferson Power Station?
... that Jusuf Muda Dalam is the only Indonesian politician to date to be sentenced to death for corruption?
... that the construction of Washington State Route 512 included a new high school football stadium to replace a demolished one?
... that journalist W. A. Hewitt refereed the first game played in the history of ice hockey at the Olympic Games?
... that the 3rd Plurinational Legislative Assembly of Bolivia has suspended multiple sessions due to open brawls and fights between opposition and ruling party parliamentarians?
... that Romy Golan's 2021 book Flashback, Eclipse is an exploration of Italian art of the 1960s that moved away from the art created under Italian fascism?
... that in 1999, donors to the American Airlines Theatre could pay US$75,000 for their name on a bathroom?"""

In [29]:
s.split()

['...',
 'that',
 'The',
 'Archives',
 'of',
 'the',
 'Planet',
 'includes',
 '72,000',
 'color',
 'photographs',
 '(example',
 'pictured)',
 'of',
 'human',
 'cultures',
 'taken',
 'in',
 '50',
 'countries',
 'between',
 '1908',
 'and',
 '1931?',
 'that',
 'Port',
 'Jefferson',
 'village',
 'officials',
 'opposed',
 'the',
 'expansion',
 'of',
 'the',
 'Caithness',
 'Long',
 'Island',
 'Energy',
 'Center',
 'because',
 'they',
 'feared',
 'it',
 'would',
 'lead',
 'to',
 'the',
 'decommissioning',
 'of',
 'the',
 'Port',
 'Jefferson',
 'Power',
 'Station?',
 'that',
 'Jusuf',
 'Muda',
 'Dalam',
 'is',
 'the',
 'only',
 'Indonesian',
 'politician',
 'to',
 'date',
 'to',
 'be',
 'sentenced',
 'to',
 'death',
 'for',
 'corruption?',
 'that',
 'the',
 'construction',
 'of',
 'Washington',
 'State',
 'Route',
 '512',
 'included',
 'a',
 'new',
 'high',
 'school',
 'football',
 'stadium',
 'to',
 'replace',
 'a',
 'demolished',
 'one?',
 'that',
 'journalist',
 'W.',
 'A.',
 'Hewitt',
 'refereed',
 'the',
 'first',
 'game',
 'played',
 'in',
 'the',
 'history',
 'of',
 'ice',
 'hockey',
 'at',
 'the',
 'Olympic',
 'Games?',
 'that',
 'the',
 '3rd',
 'Plurinational',
 'Legislative',
 'Assembly',
 'of',
 'Bolivia',
 'has',
 'suspended',
 'multiple',
 'sessions',
 'due',
 'to',
 'open',
 'brawls',
 'and',
 'fights',
 'between',
 'opposition',
 'and',
 'ruling',
 'party',
 'parliamentarians?',
 'that',
 'Romy',
 "Golan's",
 '2021',
 'book',
 'Flashback,',
 'Eclipse',
 'is',
 'an',
 'exploration',
 'of',
 'Italian',
 'art',
 'of',
 'the',
 '1960s',
 'that',
 'moved',
 'away',
 'from',
 'the',
 'art',
 'created',
 'under',
 'Italian',
 'fascism?',
 'that',
 'in',
 '1999,',
 'donors',
 'to',
 'the',
 'American',
 'Airlines',
 'Theatre',
 'could',
 'pay',
 'US$75,000',
 'for',
 'their',
 'name',
 'on',
 'a',
 'bathroom?']

In [30]:
s

"... that The Archives of the Planet includes 72,000 color photographs (example pictured) of human cultures taken in 50 countries between 1908 and 1931?\nthat Port Jefferson village officials opposed the expansion of the Caithness Long Island Energy Center because they feared it would lead to the decommissioning of the Port Jefferson Power Station?\nthat Jusuf Muda Dalam is the only Indonesian politician to date to be sentenced to death for corruption?\nthat the construction of Washington State Route 512 included a new high school football stadium to replace a demolished one?\nthat journalist W. A. Hewitt refereed the first game played in the history of ice hockey at the Olympic Games?\nthat the 3rd Plurinational Legislative Assembly of Bolivia has suspended multiple sessions due to open brawls and fights between opposition and ruling party parliamentarians?\nthat Romy Golan's 2021 book Flashback, Eclipse is an exploration of Italian art of the 1960s that moved away from the art created under Italian fascism?\nthat in 1999, donors to the American Airlines Theatre could pay US$75,000 for their name on a bathroom?"

In [31]:
s.upper()

"... THAT THE ARCHIVES OF THE PLANET INCLUDES 72,000 COLOR PHOTOGRAPHS (EXAMPLE PICTURED) OF HUMAN CULTURES TAKEN IN 50 COUNTRIES BETWEEN 1908 AND 1931?\nTHAT PORT JEFFERSON VILLAGE OFFICIALS OPPOSED THE EXPANSION OF THE CAITHNESS LONG ISLAND ENERGY CENTER BECAUSE THEY FEARED IT WOULD LEAD TO THE DECOMMISSIONING OF THE PORT JEFFERSON POWER STATION?\nTHAT JUSUF MUDA DALAM IS THE ONLY INDONESIAN POLITICIAN TO DATE TO BE SENTENCED TO DEATH FOR CORRUPTION?\nTHAT THE CONSTRUCTION OF WASHINGTON STATE ROUTE 512 INCLUDED A NEW HIGH SCHOOL FOOTBALL STADIUM TO REPLACE A DEMOLISHED ONE?\nTHAT JOURNALIST W. A. HEWITT REFEREED THE FIRST GAME PLAYED IN THE HISTORY OF ICE HOCKEY AT THE OLYMPIC GAMES?\nTHAT THE 3RD PLURINATIONAL LEGISLATIVE ASSEMBLY OF BOLIVIA HAS SUSPENDED MULTIPLE SESSIONS DUE TO OPEN BRAWLS AND FIGHTS BETWEEN OPPOSITION AND RULING PARTY PARLIAMENTARIANS?\nTHAT ROMY GOLAN'S 2021 BOOK FLASHBACK, ECLIPSE IS AN EXPLORATION OF ITALIAN ART OF THE 1960S THAT MOVED AWAY FROM THE ART CREATED UNDER ITALIAN FASCISM?\nTHAT IN 1999, DONORS TO THE AMERICAN AIRLINES THEATRE COULD PAY US$75,000 FOR THEIR NAME ON A BATHROOM?"

In [32]:
s.title()

"... That The Archives Of The Planet Includes 72,000 Color Photographs (Example Pictured) Of Human Cultures Taken In 50 Countries Between 1908 And 1931?\nThat Port Jefferson Village Officials Opposed The Expansion Of The Caithness Long Island Energy Center Because They Feared It Would Lead To The Decommissioning Of The Port Jefferson Power Station?\nThat Jusuf Muda Dalam Is The Only Indonesian Politician To Date To Be Sentenced To Death For Corruption?\nThat The Construction Of Washington State Route 512 Included A New High School Football Stadium To Replace A Demolished One?\nThat Journalist W. A. Hewitt Refereed The First Game Played In The History Of Ice Hockey At The Olympic Games?\nThat The 3Rd Plurinational Legislative Assembly Of Bolivia Has Suspended Multiple Sessions Due To Open Brawls And Fights Between Opposition And Ruling Party Parliamentarians?\nThat Romy Golan'S 2021 Book Flashback, Eclipse Is An Exploration Of Italian Art Of The 1960S That Moved Away From The Art Created Under Italian Fascism?\nThat In 1999, Donors To The American Airlines Theatre Could Pay Us$75,000 For Their Name On A Bathroom?"

In [33]:
s=s.upper()

In [34]:
s

"... THAT THE ARCHIVES OF THE PLANET INCLUDES 72,000 COLOR PHOTOGRAPHS (EXAMPLE PICTURED) OF HUMAN CULTURES TAKEN IN 50 COUNTRIES BETWEEN 1908 AND 1931?\nTHAT PORT JEFFERSON VILLAGE OFFICIALS OPPOSED THE EXPANSION OF THE CAITHNESS LONG ISLAND ENERGY CENTER BECAUSE THEY FEARED IT WOULD LEAD TO THE DECOMMISSIONING OF THE PORT JEFFERSON POWER STATION?\nTHAT JUSUF MUDA DALAM IS THE ONLY INDONESIAN POLITICIAN TO DATE TO BE SENTENCED TO DEATH FOR CORRUPTION?\nTHAT THE CONSTRUCTION OF WASHINGTON STATE ROUTE 512 INCLUDED A NEW HIGH SCHOOL FOOTBALL STADIUM TO REPLACE A DEMOLISHED ONE?\nTHAT JOURNALIST W. A. HEWITT REFEREED THE FIRST GAME PLAYED IN THE HISTORY OF ICE HOCKEY AT THE OLYMPIC GAMES?\nTHAT THE 3RD PLURINATIONAL LEGISLATIVE ASSEMBLY OF BOLIVIA HAS SUSPENDED MULTIPLE SESSIONS DUE TO OPEN BRAWLS AND FIGHTS BETWEEN OPPOSITION AND RULING PARTY PARLIAMENTARIANS?\nTHAT ROMY GOLAN'S 2021 BOOK FLASHBACK, ECLIPSE IS AN EXPLORATION OF ITALIAN ART OF THE 1960S THAT MOVED AWAY FROM THE ART CREATED UNDER ITALIAN FASCISM?\nTHAT IN 1999, DONORS TO THE AMERICAN AIRLINES THEATRE COULD PAY US$75,000 FOR THEIR NAME ON A BATHROOM?"

In [38]:
s.title()

"... THAT THE ARCHIVES OF THE PLANET INCLUDES 72,000 COLOR PHOTOGRAPHS (EXAMPLE PICTURED) OF HUMAN CULTURES TAKEN IN 50 COUNTRIES BETWEEN 1908 AND 1931?\nTHAT PORT JEFFERSON VILLAGE OFFICIALS OPPOSED THE EXPANSION OF THE CAITHNESS LONG ISLAND ENERGY CENTER BECAUSE THEY FEARED IT WOULD LEAD TO THE DECOMMISSIONING OF THE PORT JEFFERSON POWER STATION?\nTHAT JUSUF MUDA DALAM IS THE ONLY INDONESIAN POLITICIAN TO DATE TO BE SENTENCED TO DEATH FOR CORRUPTION?\nTHAT THE CONSTRUCTION OF WASHINGTON STATE ROUTE 512 INCLUDED A NEW HIGH SCHOOL FOOTBALL STADIUM TO REPLACE A DEMOLISHED ONE?\nTHAT JOURNALIST W. A. HEWITT REFEREED THE FIRST GAME PLAYED IN THE HISTORY OF ICE HOCKEY AT THE OLYMPIC GAMES?\nTHAT THE 3RD PLURINATIONAL LEGISLATIVE ASSEMBLY OF BOLIVIA HAS SUSPENDED MULTIPLE SESSIONS DUE TO OPEN BRAWLS AND FIGHTS BETWEEN OPPOSITION AND RULING PARTY PARLIAMENTARIANS?\nTHAT ROMY GOLAN'S 2021 BOOK FLASHBACK, ECLIPSE IS AN EXPLORATION OF ITALIAN ART OF THE 1960S THAT MOVED AWAY FROM THE ART CREATED UNDER ITALIAN FASCISM?\nTHAT IN 1999, DONORS TO THE AMERICAN AIRLINES THEATRE COULD PAY US$75,000 FOR THEIR NAME ON A BATHROOM?"

In [44]:
s="poOja dAs"

In [45]:
s.title()

'Pooja Das'

In [46]:
s.swapcase()

'POoJA DaS'

In [47]:
reversed(s)

In [48]:
l=reversed(s)
l

In [53]:
"".join(reversed(s))

' SaD AJoOP '

In [49]:
s[::-1]

'sAd ajOop'

In [52]:
s=' POoJA DaS '
s.strip()

'POoJA DaS'

In [54]:
s.lstrip()

'POoJA DaS '

In [55]:
"@".join(s)

' @P@O@o@J@A@ @D@a@S@ '

In [56]:
s.center(20,"@")

'@@@@ POoJA DaS @@@@@'

In [57]:
s.islower()

False

In [58]:
s.isupper()

False

In [61]:
s=s.upper()
s.isupper()

True

In [62]:
s.isspace()

False

In [63]:
l=" "
l.isspace()

True

In [65]:
s="pooja"
s.isalnum()

True

In [66]:
s.isalpha()

True

In [67]:
s="addd7"

In [68]:
s.isalnum()

True

In [70]:
s.startswith("d")

False

In [71]:
s.startswith("a")

True

In [72]:
s.endswith("7")

True

In [99]:
p="751117852"
print(p.isdigit())#true
print(p.isnumeric())#true

#sir what is difference

True
True

In [91]:
p.isalnum()

True

In [92]:
p.isdigit()

True

In [93]:
p.isnumeric()

True

In [100]:
s="pooja"

In [101]:
reversed(s)

In [106]:
"@".join(reversed(s))

'a@j@o@o@p'

In [107]:
p="pooja\t852\tgfff"

In [108]:
p.expandtabs()

'pooja   852     gfff'

s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
print
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding

In [113]:
s='/pooja'
s.isspace()

False

In [131]:
#Mr.Deepak's answer
# s='/pooja'
# s.isspace()#false coz no space
s='\15'
s.isspace() # True ---sir "\13" is ascii code of carriage return so is it nthng one space

True