In [ ]:
#First code using " " & '' for syntax print
print("This is my fisrt python program")

In [ ]:
#Creating Error # giveing SyntaxError
print("This is my Fisrt python program)

In [ ]:
 #print function can be print "Hello World" but it ok with python 2.X version not with Python 3.X
print "Hello World"

In [ ]:
 # single line comment

In [ ]:
"""gdvv
fyh
bhgbnv

Multiline comment

cgdbvb vf
htdccdvvv
"""

In [ ]:
a=10 #varibles  and varible namee is "a"

In [ ]:
a # calling varible

In [ ]:
type(a) # type() function use know datatype of the varible

In [ ]:
b="Pooja"
c='Das'

In [ ]:
b

In [ ]:
print(b)
print(c)

In [ ]:
type(b) #string

In [ ]:
print(a,b,c,"Hello")

In [ ]:
a=15
b="Dodo"

In [ ]:
a,b,c=41,"Das", 4.3  #single line varible

In [ ]:
print(a,b,c)

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
a,b,c # print turples which start with () symbols

In [ ]:
type(a,b,c)

In [ ]:
print('"Hello World,i am testing world"') #printing " statement"

In [ ]:
#varible name can't be start with  numeric, symbol , keyword or ya space in between name we can use underscores_

2a=10 #2a=10 SyntaxError: invalid syntax

In [ ]:
#a=10 # took as comment
_b=153 #_undrscore vaid

In [ ]:
_b

In [ ]:
testing_varible=123

In [ ]:
testing_varible

In [ ]:
Name="Pooja"
User_ID= "N001"
Password="bjbghjj"
mail_Id="poojadas93@outlook.com"

<b>Class Task 1<b>

In [ ]:
#Class Task yes sir  we all knw True=1 nad Flase=0 so it adding 1+1+1+0+1=4
a=True+ True+ True+False+True  #1+1+1+0+1=4
b=False-True+True # 0-1+1=0

In [ ]:
a=True

In [ ]:
type(a)

In [ ]:
print(a,b)

In [ ]:
0-1

In [ ]:
0-1+1

In [ ]:
print(True+True+False)

In [ ]:
True*True #1*1

In [ ]:
True/False #1/0 error coz ZeroDivisionError: division by zero we cant divde by 0

# if we used numpy package it not give error it give "inf"

In [ ]:
False/True #0/1

In [ ]:
#complex number =real_number +imaginary_number
n=45+6j   # we cant used any aplha in imaginary  we only use "j"

In [ ]:
type(n)

In [ ]:
print(n) # print complex no.

In [ ]:
print(n.real)
print(n.imag)

In [ ]:
complex_no=56+74i #syntax error coz we only have to use "j" as it built or fun like that only

In [ ]:
n1=78+7j
n2=95+8j

In [ ]:
print(n1*n2)
print(n1+n2)

In [ ]:
#dynamic typing  where i should not tell my compiler what data type is this it autimatically understand
a="life"
type(a)

In [ ]:
1+"pooja" #typeError we can't add int +str #hetrogenes datatype

In [ ]:
str(1)+"Pooja" #typecaste where i convert mt integer into string by str()

In [ ]:
"1"+ "Pooja" # this is all strong  typing

In [ ]:
1+1.0 #upcasting  if it is inteeger no.s thn it perfrom Upcasting as float take more space our result will be float

In [ ]:
"pooja"+"pooja"+"pooja" #concatenate

In [ ]:
"pooja"*3 #concatenate

In [ ]:
'pooja'

In [ ]:
int("123")

In [ ]:
int("pooja")

In [ ]:
a=10
a

In [ ]:
a=input("Enter a interger=") # input() inbuilt fun used to tak0e input frm user
print("Answer is =",a)

In [ ]:
type(a)

<b>class Task 2</b>
 <h3> Q1. Take 3 Interger input from user  using input() only 
     a,b,c than we have to do 3 step  <br>
    <b>o=(a+b)/c</b><br>
    <b>o1=o+ complex  varible by our choice</b> <br>
    <b> o2=o1+"with ur name" </b></h3>

In [ ]:
a=int(input("Enter first interger a="))
b=int(input("Enter first interger b="))
c=int(input("Enter first interger c="))

In [ ]:
O=(a+b)/c
print(O)

In [ ]:
complex_no=10+5j
O1=O+complex_no # add 4.0+10+5j =14+5j
print(O1)
type(O1)

In [ ]:
O2=str(O1)+"Pooja Das"
print(O2)
type(O2)

In [ ]:
a=int(input("Input a number lesser  then 34 ="))

In [ ]:
if a<34:
    pass

In [ ]:
a=int(input("Input a number="))
if a<34:
    print("data input is lesser than 34 and it is fine")

In [ ]:
b=int(input("Input a number="))
if b<34:
    print("data input is lesser than 34 and it is fine")
else:
    print("data input is not lesser than 34")

In [ ]:
b=int(input("Input a number="))
if b<34:
print("data input is lesser than 34 and it is fine")  #indentation error to give indentation we use tab

In [ ]:
b=int(input("Input a number="))
if b<34:
    print("data input is lesser than 34 and it is fine")
elif a<100:
    print("data is lesser than 100")
else:
    print("data input is not lesser than 34")

In [ ]:
salary =int(input("Enter Your salary -"))
if salary <1000:
    print("I will buy a car")
elif salary <500:
    print("I will buy a bike")
elif salary<100:
    print("I will  not buy anything")
else:
    print("I will go for saving")
    
    #put any no. less than 1000 it only check nd excute first line satisfy print and exit simple

In [ ]:
salary =int(input("Enter Your salary -"))
if (salary >=1000):
    print("I will buy a car")
elif salary >=500:
    print("I will buy a bike")
elif salary>=100:
    print("I will  not buy anything")
else:
    print("I will go for saving")

In [ ]:
salary =int(input("Enter Your salary -"))
if (salary >=1000):
    print("I will  good salary")
    if salary <=5000:
        print("i will buy Tata Nano")
        if True:
            print("party")
    elif salary <=10000:
        print("i will buy maruti")
    elif salary <=50000:
        print("I will buy toyota")
    else :
        print(" I will buy audi")
elif salary >=500:
    print("I will buy a bike")
elif salary>=100:
    print("I will  not buy anything")
else:
    print("I will go for saving")

In [ ]:
a=10
b=20

if a==10 and b==20:
    print("this valid statement")

In [ ]:
 a==10 and b==20

In [ ]:
a==10

In [ ]:
b==20

In [ ]:
if a==30 and b==20:
    print("this valid statement")
else :
    print("not valid")

In [ ]:
if a<30 and b<50:
    print("this valid statement")
else :
    print("not valid")

In [ ]:
if a==10 and b>20:
    print("this valid statement")
elif a==10 and b>=20:
    print("valid in elif")
else :
    print("not valid")

In [ ]:
if a==30 or b==20:
    print("this valid statement")
else :
    print("not valid")

In [ ]:
if a==10 or b>20:
    print("this valid statement")
elif a==10 and b>=20:
    print("valid in elif")
else :
    print("not valid")

Task :
     take a input from your keyboard as first name and last name and than try to validate of write multiple condition by yourself

In [ ]:
a=input("Enter your firstname  :")
b=input("Enter yourlastname  :")
if a=="Pooja" and b=="Das":
    print("Valide  name")
else:
    print ("Not Valid")

In [ ]:
a=input("Enter your Firstname  :")
b=input("Enter your Lastname  :")
if a=="Pooja" and b=="Das":
    print("Valide  name")
elif a=="pooja" and b=="das":
    print("Valide  name")
elif a=="POOJA" and b=="DAS":
    print("Valide  name")    
else:
    print ("Not Valid")

In [ ]:
#while loop
initial_speed=0
final_speed=100
count=0
while initial_speed < final_speed:
    print(count,"this is speed")
    count=count+1
    if (count==10):
        break

In [ ]:
initial_speed < final_speed

In [ ]:
initial_speed=0
final_speed=5

while final_speed>=initial_speed: # if true than only excute
    print(initial_speed,"this is speed")
    initial_speed=initial_speed+1

In [ ]:
bacon = 22
bacon + 1

In [ ]:
print('spam'+'spamspam')
print('spam'*3)

In [ ]:
# while-else only exit in python
notes= 5
i=1
while i<=notes: # when it become false thn only else  excute
    print(i)
    i+=1
else:
    print(" no notes are availble")

In [ ]:
notes= 5
i=1
j=1
while i<=notes: # when it become false thn only else  excute
    print(i)
    i+=1
else:
    while j<=2:
        print(j)
        
        j+=1
    print(" no notes are availble")

In [ ]:
s="pooja"

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[5] # as index doesnot exit

In [ ]:
s="My name is Pooja Das"

In [ ]:
s

In [ ]:
s[3:10] # start : end but exclude end position

In [ ]:
s[4:]

In [ ]:
s[:4]

In [ ]:
s[0:2]

In [ ]:
s[3:10:2]# start : end but exclude end position: jump step

In [ ]:
s[4::3]

In [ ]:
s[10:3:-2]

In [ ]:
s[10:3:-2]

In [ ]:
s[2:6]

In [ ]:
s[:0:-1]

In [ ]:
s

In [ ]:
for i in s:# i =0 ,i<=s than i++
    if i=="a":
        print("i got a as string")
    print (i)
else :
    print("Else execute")

In [ ]:
for i in s:# i =0 ,i<=s than i++
    if i=="a":
        break
        print("i got a as string")
    print (i)
else :  # for else execute only when for complete  not by break
    print("Else execute")

In [ ]:
for i in s:# i ="M" 
    if i=="a":
        continue # print a coz it go back to for loop not evern execute other
        print("i got a as string")
    print (i)
else :  # for else execute only when for complete  not by break
    print("Else execute")

In [ ]:
s="ineuron"
ss=""
for i in range(len(s)): # i=0 in this case
   # print(i)
    if s[i]=="n":
        continue
    print(s[i])

In [ ]:
len(s) # used to find length of a string

In [ ]:
ss

In [ ]:
range(8) # used to find  range 0 to n

In [ ]:
range(len(s))

In [ ]:
s[i]

In [ ]:
s="in euron"
ss=""
print(ss)
for i in range(len(s)): # i=0 in this case
    print(s[i])
    if s[i]=="n":
        print(s[i])
        continue
    else:
        ss=ss+s[i]

In [ ]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end =" ")
    print("\r")

In [ ]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end =" ")
    print("\r")

In [ ]:
a="a"
len(a)

In [ ]:
range(0,len(a))

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print(j, end =" ")
    print("\r")

In [ ]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(i, end =" ")         
    print("\r")

In [ ]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end =" ") 
    
    print("\r")

In [ ]:
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end =" ") 
    
    print("\r")

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
            print(end =" ")
    for j in range(0,i+1):
        print(j, end =" ")         
    print("\r")

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
            print(end =" ")
    for j in range(0,i+1):
        print(i, end =" ")         
    print("\r")

In [ ]:
n=5
print(" * "*5)

In [ ]:
n=5
for i in range(0,n):
    print("*", end=" ")

In [ ]:
n=5
for j in range(0,n):
    print("*") #  as all print in next line for this we use end use for one linr

In [ ]:
n=5
for i in range(0,n):
    for i in range(0,n):
        print("*", end=" ")

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,n):
        print(i, end=" ")
    print()  

for i in range(0,n):
    for j in range(0,n):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,n):
        print(j, end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end=" ")
    print() 
for i in range(0,n):
    for j in range(0,i+1):
        print(j, end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print(i, end=" ")
    print()  

for i in range(0,n):
    for j in range(i,n):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(i,n):
        print(j, end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    
    for j in range(0,i):
        print("$", end=" ")
    for j in range(i,n):
        print("*",end=" ")    
    print()

# Right side Trinangle

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print("$",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

# Hill Pattern

In [ ]:
 
n=5
for i in range(0,n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()

# Reversed Hill

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

# Diamond Pattern

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
#for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n):
    for j in range(i,n-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i+1):# by add space here in down
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

In [ ]:
n=5
for i in range(0,n-1):
    for j in range(i,n-1):# or by descrease n frm here
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    for j in range(0,i):
        print("*", end=" ")
    print()
for i in range(0,n):
    for j in range(0,i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*",end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    print()

In [ ]:
n=5 
for i in range (0,n):
    for j in range (i,n-1):
        print(" ", end=" ")
    for j in range ( i+1):
        print("*",end=" ")
    for j in range (0,i):
        print("*",end=" ")
    print()

In [ ]:
n=5
i=0
while (i<n):
    j=0
    while(j<=i):
        print("*", end=" ")
        j+=1
        
    print() 
    i+=1

In [ ]:
n=5
i=0
while (i<n):
    j=i
    while(j<n):
        print("*", end=" ")
        j+=1
    j=i
    while(j<n):
        print(" ", end=" ")
        j+=1 
    j=i
    while(j<n-1):
        print(" ", end=" ")
        j+=1    
        
    print() 
    i+=1 
i=0
while (i<n):
    j=i
    while(j<n-1):
        print("*", end=" ")
        j+=1
    j=0
    while(j<i+1):
        print(" ", end=" ")
        j+=1 
    j=0
    while(j<i):
        print(" ", end=" ")
        j+=1    
        
    print() 
    i+=1

In [ ]:
n=5
for i in range(0,n):
    for j in range (i,n-1):
        print("b", end=" ")
    for j in range (0,i+1):
        print("*", end=" ")    
    print()

In [ ]:
n=5
i=0
while (i<n):
    j=i
    while(j<n-1):
        print("b", end=" ")
        j+=1
    j=0
    while(j<i+1):
        print("*", end=" ")
        j+=1 
    j=0
    while(j<i):
        print("*", end=" ")
        j+=1    
        
    print() 
    i+=1

In [ ]:
n=5
i=0
while (i<n):
    j=0
    while(j<i):
        print("b", end=" ")
        j+=1
    j=i
    while(j<n):
        print("*", end=" ")
        j+=1 
    j=i
    while(j<n-1):
        print("*", end=" ")
        j+=1    
        
    print() 
    i+=1

In [ ]:
n=5
i=0
while (i<n):
    print (" " *(n-i-1)+ "* "*(i+1))
    i+=1

In [ ]:
name="pooja"
phone=4535552
address="dguu"

name,phone,address="pooja",452255,"cfdghfhh"

In [ ]:
l=["pooja",452255,"cfdghfhh",45+4j,4.5,96,"list",True,[3,5,10+5j,"hi",4.5,50]] # list like arry it hold multi value in single varible

In [ ]:
l

In [ ]:
type(l)

In [ ]:
l[0]

In [ ]:
l[1]

In [ ]:
l[1:5]

In [ ]:
l[6:2:-1]

In [ ]:
l1=[]

In [ ]:
type(l1)

In [ ]:
l2=list()

In [ ]:
type(l2)

In [ ]:
for i in l:
    print(type(i))

In [ ]:
for i in l:
    if type(i)== str:
        print(i)

In [ ]:
for i in l:
    if type(i)==list:
        for j in i:
            print(type(j))
        print(i)

In [ ]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
                
        print(n)
        print(i)
        print(type(n))
        print(type(j))

In [ ]:
len(l)

In [ ]:
range(len(l))

In [ ]:
list(range(2,22,2))

In [ ]:
list(range(25,0,-2))

In [ ]:
len(l)

In [ ]:
for i in l:
    if type(i)== list:
        print(len(i))
        print(i)

In [ ]:
name="Pooja"
for i in name:
    print(i)

In [ ]:
name="Pooja"
for i in name:
    print(i,end="")

In [ ]:
n=int(input("Enter the no. of the parimid-- "))

for i in range(0,n):
    for j in range( 0,i):
        print (" ", end=" ")
    for j in range(i,n):
        print ("*", end=" ") 
    for j in range(i,n-1):
        print ("*", end=" ")
    print()

In [ ]:
lst=[1,2,3,4]
lst[2:50]

In [ ]:
lst[50:2:1]

In [ ]:
lst[50:2:-1]

In [ ]:
s="Master*Python"

In [ ]:
s[-1:5:-1]

In [ ]:
s[12:5:-1]

In [ ]:
s[-1:-5:-1]

In [ ]:
c="This is my first's full stack class"

In [ ]:
c

In [ ]:
c='This is my first's full stack class'

In [ ]:
c='This is my first"s full stack class'

In [ ]:
c

In [ ]:
c[0]

In [ ]:
c[-1]

In [ ]:
c[-1::-1]

In [ ]:
len(c)

In [ ]:
len(s)

In [ ]:
l=["pooja",4.5,"ggu"]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0]=78

In [ ]:
l

In [ ]:
s="I am Pooja"

In [ ]:
s[0]

In [ ]:
s[0]="s"

In [ ]:
s.find("o")

In [ ]:
s.find("oi")

In [ ]:
s.find("am")

In [ ]:
s="my name is pooja, my Name ok"

In [ ]:
s.find("name")

In [ ]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

In [ ]:
len("name")

In [ ]:
s.count("m")

In [ ]:
s.count("name")

In [ ]:
s.capitalize()

In [ ]:
s.split()

In [ ]:
type(s.split())

In [ ]:
s.split(",")

In [ ]:
s.split("n")

In [ ]:
s.split("na")

In [ ]:
s.split(sep= "(None)", maxsplit=0)

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.swapcase()

In [ ]:
" ".join(s)

In [ ]:
" * ".join(s)

In [ ]:
reversed(s)

In [ ]:
list(reversed(s))

In [ ]:
s[::-1]

In [ ]:
for i in reversed(s):
    print(i,end=" ")

In [ ]:
s="         poo   ja"

In [ ]:
s

In [ ]:
s=" Greeting from Ineuron "

In [ ]:
s.removeprefix(" ")

In [ ]:
s.removesuffix(" ")

In [ ]:
s.rindex("G")

In [ ]:
s.rfind("G")

In [ ]:
s1=s.replace("Gre","xxx")

In [ ]:
s1

In [ ]:
s

In [ ]:
c="pooja"

In [ ]:
c.center(20," ")

In [ ]:
c.center(20,"@")

In [ ]:
c="pooja\tkumar"

In [ ]:
c

In [ ]:
c.expandtabs()

### class task
         
         a="we all are apart of Full Stack"
         
         1.Normallize all the string in lower?
         2.Find no. of occurences of "a" in entire data
         3.Find all the location/index of "a" in string
         4.Replace all the "a" with "iNeuron"
         5.Print all the word  as a list

In [ ]:
a="we all are apart of Full Stack"
print("1.Normallize all the string in lower?")
print(a.lower())
print("-------------------------------------------------")
print("2.Find no. of occurences of 'a' in entire data")
print(a.count("a"))
print("-------------------------------------------------""-------------------------------------------------")
print("3.Find all the location/index of 'a' in string")
b=a.index("a")
for i in  range(b,len(a)):
    if a[i]=="a":
        print(i,end=" ")
    
print()
print("-------------------------------------------------") 
print('4.Replace all the "a" with "iNeuron"')
print(a.replace("a","iNeuron"))
print("-------------------------------------------------")
print('5.Print all the word  as a list')
print(a.split(sep= "  "))

In [ ]:
l=[]
for i in range(len(a)):
    if a[i]=="a":
        l.append(i)
l

In [ ]:
lst=[1,2,3]
print(lst)
lst.append(4)
print(lst)
a=[4,5,"ooo"]
lst.append(a)
lst

In [ ]:
lst=[1,5,"pooja"]
a=[4,8]

lst.append(a)
print(lst)
lst.extend(a)
lst

In [ ]:
s="pooja"

In [ ]:
s.isupper()

In [ ]:
s.isnumeric()

In [ ]:
s.islower()

In [ ]:
s="pooja123"

In [ ]:
s.isalnum()

In [ ]:
b="pooja das"
print(b.isspace())
c=" "
print(c.isspace())

In [ ]:
s.endswith("p")

In [ ]:
s.isnumeric()

In [ ]:
s.isdigit()

In [ ]:
s.startswith("p")

In [ ]:
b.isalpha()

In [ ]:
b="Pooja"
print(b.istitle())
c="pooja"

print(c.istitle())

In [ ]:
s="this is a full strack batch"
for i in s:
    
    print(i,end="")

In [ ]:
count= 0
for i in s:
    count = count +1
print(count)

In [ ]:
s="this is a full strack batch"
for i in range(1,len(s)):
    print(s[-i],end="")

In [ ]:
s="Pooja"
i=1
while i<=len(s):
    print(s[-i],end="")
    i+=1

In [ ]:
s="this is a full strack batch"
i=1
while i<=len(s):
    print(s[-i],end="")
    i+=1

In [ ]:
s="iNeuRon"
vowels="AaEeIiOoUu"
for i in s:
    if i in vowels:
        print(f"{i} is vowels")
    else:
        print("{} is not vowel".format(i))

In [ ]:
"{} is A bat".format("this")

In [ ]:
"{} is {} bat".format("this","a")

In [ ]:
a=4
b=5
"{} is {} bat {}".format(a,b,"text")

In [ ]:
a="xyx"
b=2002
c="nitin"

In [ ]:
s=input("Enter any data to check its palindrom  ")
c=s[len(s)::-1]
print()
if s==c:
    print("{} is palindrom".format(s))
else:
    print("{} is not palindrom".format(s))

In [ ]:
c

In [ ]:
s[len(s)::-1]

In [ ]:
s1=s.r